* {
  font-family: "brandon-grotesque", sans-serif;
  box-sizing: border-box;
  font-variant: small-caps;
}

body {
  color: #b6bfc8;
  text-align: center;
  background-color: black;
  border-bottom: black solid 4px;
  width: 100%;
  font-size: 16px;
  position: relative;
}

a {
  color: inherit;
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #4daeb7;
}

@media (min-width: 768px) {
  .medium-left {
    text-align: left;
  }
}
.scroll-pad {
  padding-top: 75px;
}

.navbar {
  height: 100px;
  background-color: black;
  border: none;
  color: #4daeb7;
  padding-top: 15px;
  padding-bottom: 0;
  z-index: 50;
}

#header-name {
  height: 40px;
  width: auto;
  transition: all 0.25s;
}

a.navbar-brand {
  margin-right: 0px;
  line-height: 25px;
}

#header-logo {
  display: none;
  margin-top: 0px;
  transition: all 0.25s;
}

.hero {
  height: 100vh;
  background-image: url(../IMGS/arrows.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -50px;
}

.navbar-dark .navbar-nav .nav-item {
  padding-left: 0px;
}

.nav-btn {
  justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
  color: #4daeb7 !important;
  font-size: 18px;
  padding-left: 0px;
  margin-left: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff !important;
}

button.navbar-toggler {
  border: none;
}

.nav-container {
  display: flex;
  margin: auto;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../IMGS/menu_icon.png) !important;
  border: 2px solid #4daeb7;
  width: 50px;
  height: 50px;
}

.navbar-collapse {
  background: black;
  z-index: 300;
}

@media (min-width: 768px) {
  .navbar {
    margin-top: auto;
    height: 130px;
  }

  #header-name {
    height: 70px;
  }

  .navbar-dark .navbar-toggler-icon {
    width: 70px;
    height: 70px;
  }

  .navbar-nav {
    text-align: right;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 24px;
    padding-left: 50px;
  }
}
.projects {
  font-variant: normal;
}

@media (max-width: 992px) {
  .project-container {
    margin-bottom: 15px;
  }
}
.project-section .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  perspective: 1750px;
}

.project-container {
  position: relative;
}

.project img {
  max-width: 100%;
  position: relative;
}

.project {
  position: relative;
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
}

.project:hover {
  transform: rotateY(-180deg);
}

.side-a,
.side-b {
  backface-visibility: hidden;
}

.side-b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #343538;
  transform: rotateY(180deg);
}

.side-b .skills-p,
.side-b h3,
.side-b h5 {
  color: #4daeb7;
  font-variant: small-caps;
}

.side-b p {
  font-variant: normal;
  margin-bottom: 8px !important;
  font-size: 13px;
  line-height: 1.25;
}

.sb-small {
  padding-left: 5px;
  padding-right: 5px;
}

.sb-small p {
  font-size: 12px;
}

.sb-small h3 {
  font-size: 24px;
}

.side-b > div > h6 {
  margin-top: -10px !important;
}

.yellow {
  color: #fcff9e;
}

.github {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.btn-primary {
  background: #4daeb7;
  border-color: #4daeb7;
}

@media (min-width: 768px) {
  .side-b {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sb-small {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sb-small p {
    font-size: 13px;
  }

  .side-b p {
    font-size: 14px;
    line-height: 1.5;
  }
}
img {
  width: 100%;
}

#header-logo {
  height: 80px;
  width: 80px;
  border: 2px solid teal;
  border-radius: 50%;
}

.profile-pic {
  display: none;
  margin-top: -30px;
}

.profile-pic-horiz {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .profile-pic {
    display: block;
  }

  .profile-pic-horiz {
    display: none;
  }
}
.modal-body img {
  max-height: 300px;
  width: auto;
}

.skills-logo {
  height: 60px;
  width: auto;
  margin-top: 20px;
}

.about-list-title {
  color: #4daeb7;
  margin-left: -8px;
  letter-spacing: 0.1rem;
}

.about-text {
  font-variant: normal;
}

.about-list li {
  font-variant: normal;
  font-size: 0.8rem;
  line-height: 24px;
}

.about-list {
  padding-left: 10px;
  list-style-type: circle;
}

.about-list-div {
  display: none;
}

@media (min-width: 768px) {
  .about-list-div {
    display: block;
  }
}
.contact {
  font-size: 24px;
  text-align: center;
}
.contact a {
  font-size: 28px;
  font-variant: normal;
}

.social a path,
.social a circle {
  transition: fill 0.5s;
}
.social a:hover path,
.social a:hover circle {
  fill: #fcff9e;
}

.social > a:hover svg {
  fill: white;
}

.contact .contact-row {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact .contact-row {
    display: block;
  }

  .contact .contact-row > span {
    display: inline-block;
    padding-right: 15px;
  }
}
.social-link {
  height: 45px;
}

.footer {
  background-color: #4daeb7;
  height: 60px;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}

.footer-link {
  color: black;
}

.modal {
  height: 600px;
}

.fade {
  color: black;
}

/*# sourceMappingURL=custom.css.map */
