
.about-list-title {
    color: $secondary;
    margin-left: -8px;
    letter-spacing: .1rem;
}

.about-text {
    font-variant: normal;
    margin-top: 30px;
}

.about-list li {
    font-variant: normal;
    font-size: .8rem;
    line-height: 24px;
}

.about-list {
    padding-left: 10px;
    list-style-type: circle;
}

.about-list-div {
    display: none;
}

@include mediaQ('med') {
    .about-list-div {
        display: block;
    }
}

@include mediaQ('large') {
    .about-text {
        margin-top: 0px;
    }
}