
// General styles

.title {
  color: $font-orange;
  font-weight: bold;
  font-size: $sm-title-text-size;
  @include mediaQ (med) {
    font-size: $title-text-size;
  }
}

p {
  font-size: $base-font-size;
  @include mediaQ (med) {
    font-size: $sm-title-text-size;
  }
}

.home,
.about,
.contact {
  width: $sm-content-width;
  @include mediaQ (large) {
    width: $main-content-width;
  }
}

// Home section

.home {
  padding-right: 0px;
  text-align: center;
}


// About section

.about {
  color: $font-blue;
  h4 {
    line-height: 2rem;
  }
}

.humans {
  color: $font-green;
}

#bright {
  color: $font-yellow;
  cursor: pointer;
}


// Projects section

.projects {
  padding-left: 5%;
  padding-right: 0px;
  .title {
    padding-left: 5%;
  }
}

.project-pics {
  padding-left: 0px;
  padding-right: 0px;
}

.a1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.b1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.c1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.project-overlay {
  opacity: 0;
  border: grey 3px solid;
  border-radius: 3px;
  color: $font-blue;
  line-height: normal;
  h5 {
    border-bottom: #cccccc .5px solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    h5,
    p {
      font-size: $tiny-overlay;
    }
    @include mediaQ (med) {
      font-size: $small-overlay;
    }
    @include mediaQ (large) {
      font-size: $sm-title-text-size;
    }
  }
  p {
    margin-top: 5px;
    @include mediaQ (med) {
      font-size: $small-overlay;
    }
    @include mediaQ (large) {
      font-size: $base-font-size
    }
  }
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgba(41, 45, 52, .9);
  width: 100%;
  &:hover {
    opacity: 1;
    transition: .5s;
  }
}


.skill {
  margin-left: 4px;
  margin-right: 4px;
}

.desc {
  display: none;
  @include mediaQ(med) {
    display: block;
  }
}

// Contact section

.contact {
  p {
    color: $font-teal;
  }
  a {
    color: $font-blue;
    font-size: $small-overlay;
    @include mediaQ (med){
      font-size: $sm-title-text-size;
    }
    text-decoration: none;
    &:hover {
      color: $font-green;
    }
  }
}
