
.full-container {
  padding: 0;
  flex: 1;
}

.full-wrapper {
  min-height: 100vh;
  max-width: 1400px;
  text-align: center;
}

.big-container {
  min-height: calc(100vh - 180px);
}

footer {
  display: none;
  
}
