img {
  width: 100%;
}

#header-logo {
  height: 80px;
  width: 80px;
  // margin-top: 10px;
  border: 2px solid teal;
  border-radius: 50%;
}

.profile-pic {
  display: none;
  margin-top: -30px;
}

.profile-pic-horiz {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}

@include mediaQ('large') {
  .profile-pic {
    display: block;
    // width: auto;
    max-height: 100%;
  }
  
  .profile-pic-horiz {
      display: none;
  }
}

.modal-body img {
    max-height: 300px;
    width: auto;
}