// Nav styles

nav {
  background: $background;
  color: $font-teal;
  padding: 0;
  h2{
    font-size: $sm-nav-font-size;
    @include mediaQ (large) {
      font-size: $main-nav-font-size;
    }
  }
  a {
    color: $font-teal;
    font-size: $sm-nav-font-size;
    @include mediaQ (large) {
    font-size: $main-nav-font-size;
    }
    &:hover {
      color: inherit;
      font-size: $sm-nav-font-size;
      @include mediaQ (large) {
      font-size: $main-nav-font-size;
      }
    }
  }
}
