
.projects {
    font-variant: normal;
}

@media (max-width: 992px) {

    [class*="col-"] {
        margin-bottom: 15px;
    }
  
  }

.project-section .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    perspective: 1750px;
}

.project-container {
    position: relative;
}

.project img {
    max-width: 100%;
    position: relative;
}

// project pic transitions
.project {
    position: relative;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
}
  
.project:hover {
    transform: rotateY(-180deg);
}

.side-a,
.side-b {
    backface-visibility: hidden;
}

.side-b {
    position: absolute;
    top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 5px;
	padding-right: 5px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
    align-items: center;
    background: #343538;
    transform: rotateY(180deg);
}

.side-b .skills-p,
.side-b h3,
.side-b h5 {
    color: $secondary;
    font-variant: small-caps;
}

.side-b p {
    font-variant: normal;
    margin-bottom: 8px !important;
    font-size: 13px;
    line-height: 1.25;
}

.sb-small {
    padding-left: 5px;
    padding-right: 5px;
}

.sb-small p {
    font-size: 12px;
}

.sb-small h3 {
    font-size: 24px;
}

.side-b > div > h6 {
    margin-top: -10px !important;
}


.yellow {
    color: #fcff9e;
}

.github {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.btn-primary {
    background: $secondary;
    border-color: $secondary;
}

@include mediaQ('med') {
    .side-b {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sb-small {
        padding-left: 8px;
        padding-right: 8px;
    }
    .sb-small p {
        font-size: 13px;
    }
    .side-b p {
        font-size: 14px;
        line-height: 1.5;
    }
    
}