// BASE styles

* {
  font-family: $prim-font;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  width: 100%;
  margin: auto;
  background-color: $background;
  color: white;
  // min-height: 100vh;
  @include mediaQ (large) {
    overflow: hidden;
  }
}

p {
  margin-top: 15px;
}

h2 {
  font-size: $sm-title-text-size;
}

h4 {
  font-size: $base-font-size;
  line-height: 1.4;
  @include mediaQ (med) {
    font-size: 1.5rem;
  }
}
